<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="refresh" content="5; URL=index.html">
<body>
<script src="../js/d3.v3.min.js"></script>
<script src="../js/topojson.v1.min.js"></script>
<script src="../js/datamaps.world.min.js"></script>
<div id="bubbles" style="position: relative; width: 1000px; height: 700px;"></div>
<script>
var bubble_map = new Datamap({
  element: document.getElementById("bubbles"),
  geographyConfig: {
    popupOnHover: false,
    highlightOnHover: false
  },
  fills: {
    defaultFill: '#ABDDA4',
    US: 'blue',
    GB: 'red',
    AU: 'orange'
  }
});

data = [];

bubble_map.bubbles(data, {
  popupTemplate: function(geo, data) {
    return '<div class="hoverinfo">IP Address: ' + data.ip + '<br />City: ' + data.city + '<br />Region: ' + data.region + '<br />Country: '  + data.country + '<br />Provider: ' + data.org + '<br />Containers running: ' + data.radius / 20 + '</div>'
  }
});

function updateBubbles() {
  bubble_map.bubbles([]);
}
</script>
</body>
</html>
